<template>
    <b-row>
        <b-col lg="10" offset-lg="1" class="text-center text-dark p-0">
            <ul class="list-inline mt-2">
                <li class="list-inline-item">
                </li>
            </ul>
        </b-col>
    </b-row>
</template>

<script>
  export default {
    name: 'Footer',
  };
</script>
